[build]
  base = "portal"
  command = "npm install && npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
